<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.notice.dao.NoticeDao">
	<select id="findAll" resultType="com.example.demo.notice.entity.Notice">
		select * from 
		(
			select rownum as rnum, b.* from
			(
				select /*+ index_desc(notice, notice_pk_bno) */ * from notice 
			) b
			where rownum&lt;#{endRownum}
		)
		where rnum>=#{startRownum}
	</select>
</mapper>