<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.orders.OrdersDao">

	<select id="findAllOrders"
		resultType="com.example.demo.dto.orders.OrdersDto">
		SELECT o.ono,
		b.book_title, bi.image_name,
		od.order_total ,
		od.order_count
		FROM orders o
		INNER JOIN order_details
		od ON o.ono
		= od.ono
		INNER JOIN
		member m on o.member_id=m.member_id
		INNER
		JOIN book b ON
		od.bno = b.bno
		INNER JOIN book_image bi ON
		b.bno = bi.bno
		GROUP BY o.ono,
		b.book_title,
		bi.image_name, od.order_count, od.order_total
	</select>

	<select id="findByOrderDetails"
		resultType="com.example.demo.dto.orders.OrdersDto">
		SELECT o.ono, b.book_title, bi.image_name, od.order_total,
		b.book_price, o.point_earn, od.order_count
		,
		d.zip_code, d.receiver_name
		FROM
		orders o
		INNER JOIN
		order_details od ON
		o.ono = od.ono
		INNER JOIN
		member m
		on
		o.member_id=m.member_id
		INNER JOIN
		book b ON od.bno =
		b.bno
		INNER JOIN
		book_image bi ON b.bno = bi.bno
		INNER
		JOIN delivery d
		on
		o.dno=
		d.dno
		GROUP BY o.ono, b.book_title,
		bi.image_name,
		od.order_total,
		d.zip_code,
		d.receiver_name,
		od.order_count, b.book_price, o.point_earn
	</select>


</mapper>
