<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.orders.OrdersDao">

	<select id="cartByTotalpay" resultType="com.example.demo.entity.orders.Orders">
		select b.book_price*od.order_count as 상품금액,
		b.book_price*od.order_count*m.grade_code as 적립예정포인트,
		b.book_price*od.order_count as 결제예정금액
		from orders o 
		inner join order_details od on o.ono=od.ono 
		inner join book b on od.bno=b.bno 
		inner join member m on o.member_id=m.member_id 
		inner join member_grade mg on m.grade_code=mg.grade_code 
		where m.member_id=#{memberId}
	</select>

	<select id="OrdersByTotalpay" resultType="com.example.demo.entity.orders.OrdersDao">
		select b.book_price*od.order_count as 상품금액,
		m.member_point  ,b.book_price*od.order_count*m.grade_code as 적립예정포인트,
		b.book_price*od.order_count - m.member_point as 결제예정금액 
		from orders o 
		inner join order_details od on o.ono=od.ono 
		inner join book b on od.bno=b.bno 
		inner join member m on o.member_id=m.member_id 
		inner join member_grade mg on m.grade_code=mg.grade_code 
		where m.member_id=#{memberId}
	</select>


</mapper>
