@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#page {
	margin: 0 auto;

}

a {
	color: #000;
	text-decoration: none;
}

body {
	font-size: 14px;
	line-height: 1.4;
	font-family: "Roboto", "Noto Sans KR", "PingFang SC", "Apple SD Gothic Neo", "Microsoft YaHei UI", "Malgun Gothic", sans-serif;
	min-width: 1440px;
	color: #000;
}

ul {
	list-style: none;
}

main {
	border: 1px solid red;
	height: 500px;
	margin: 30px 0px;
}

