<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pageflow.dao.cart.CartDao">
	<!-- 장바구니 리스트 -->
	<select id="findAllByMemberId" resultType="com.pageflow.dto.cart.CartDto$Read">
		select cart.cno, book.bno, CONCAT('/category/', book_image) as book_image, book.book_title, book.book_price, cart.cart_count,
            (cart.cart_count * book.book_price) as amount,
            (SELECT point_rate FROM member_grade WHERE grade_code = #{gradeCode}) as point_rate,
            (cart.cart_count * book_price * (SELECT point_rate FROM member_grade WHERE grade_code = #{gradeCode})) as point_earnings,
            (select sum(cart.cart_count * book.book_price) from cart where member_id=#{memberId}) as total_amount,
            (select sum(cart.cart_count * book_price * (SELECT point_rate FROM member_grade WHERE grade_code = #{gradeCode})) from cart where member_id=#{memberId}) as total_point_earnings
        from (select /*+ index_desc(cart cart_pk_cno)*/ * from cart) cart
        inner join book on cart.bno = book.bno
        inner join member on cart.member_id = member.member_id
        where member.member_id = #{memberId} 
	</select>
	
	<select id="selectFromCartList" resultType="com.pageflow.dto.cart.CartDto$Select">
		select cart.cno, book.bno, CONCAT('/category/', book_image) as book_image, book.book_title, book.book_price, cart.cart_count,
            (cart.cart_count * book.book_price) as amount,
            (SELECT point_rate FROM member_grade WHERE grade_code = #{gradeCode}) as point_rate,
            (cart.cart_count * book_price * (SELECT point_rate FROM member_grade WHERE grade_code = #{gradeCode})) as point_earnings,
            (select sum(cart.cart_count * book.book_price) from cart where member_id=#{memberId}) as total_amount,
            (select sum(cart.cart_count * book_price * (SELECT point_rate FROM member_grade WHERE grade_code = #{gradeCode})) from cart where member_id=#{memberId}) as total_point_earnings
        from (select /*+ index_desc(cart cart_pk_cno)*/ * from cart) cart
        inner join book on cart.bno = book.bno
        inner join member on cart.member_id = member.member_id
        where member.member_id = #{memberId} and 
        <if test="cnos !=null">
        cno in
        <foreach collection="cnos" item="cno" separator="," open="(" close=")">
        	#{cno}
        </foreach>
        
	    </if>
	</select>
	
</mapper>


